<!DOCTYPE html>
<html>
  <head>
    <title>SubwaySystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> %>
    <%# <link rel="stylesheet" href="vendors/typicons.font/font/typicons.css"> %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-scroller">
    <%# header partial %>
    <%= render 'layouts/header' %>
    <div class="container-fluid page-body-wrapper">
    <%# sidebar partial %>
    <%= render 'layouts/sidenav' %>
    <%= yield %>
    </div>
  </div>
  </body>
</html>
